.App {
  font-family: 'Arial', sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  /* padding: 20px; */
  text-align: left;
  color: black;
}

h2 {
  text-align: left;
  color: black;
}

.form-row {
  display: flex;
  /* gap: 20px; */
  margin-bottom: 15px;
}

.button-row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  margin-left: 8px;
}

.form-group {
  flex: 1;
  width: auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

input[type="text"],
input[type="file"],
select,
textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  color: black;
}


button {
  background-color: white;
  color: #ccc;
  padding: 12px 20px;
  font-size: 16px;
  border: solid;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}


.file-input-container {
  width: 90%;
  max-width: 500px;
  height: auto;
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 2rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 2vh auto;
  margin-bottom: 10px;
  text-align: center;
}

.custom-file-choose {
  background-color: white;
  color: #ccc;
  padding: 12px 30px;
  font-size: 16px;

  border-radius: 5px;
  cursor: pointer;
  border: solid;
  margin-top: 10px;
  /* width: 50%;  */
  transition: background-color 0.3s;
}

.icon {
  color: lightgray;
  font-size: 70px;
  margin-bottom: 10px;
}

.Addbutton {
  background-color: white;
  border: solid;
  color: #ccc;
  padding: 6px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  width: 9%;
  
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  color: lightgray;
  font-size: 24px;
  padding: 5px;
  margin-bottom: 5px;
}

.delete-button:hover {
  color: #555;
  /* Icon color on hover, change as needed */
}

.input-with-icon {
  display: flex;
  align-items: center;
  gap: 10px;
 
}


.upload-container {
  margin: 20px;
}

.file-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.file-item {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  width: 150px;
}

.file-preview {
  max-width: 100%;
  max-height: 100px;
}

.file-icon {
  font-size: 24px;
}

.file-details p {
  margin: 5px 0;
}

.preview-container {
 width: 105%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: white;
  gap: 5px;
  border-radius: 4px;
}
.preview-remove-Button {
  
  border: none;
  background: none;
  cursor: pointer;
  color: black;
  font-size: 16px;
  margin-left: 10px;
}
